<h3>Orbit Report</h3>
<table>
  <tr class="header-row">
    <th (click)="sort('name')" class="sortable">Name</th>
    <th (click)="sort('type')" class="sortable">Type</th>
    <th>Launch Date</th>
    <th>Orbit Type</th>
    <th>Operational</th>
  </tr>
  <tr
    *ngFor="let satellite of satellites; let i = index"
    [class.stripe]="i % 2 === 0"
    class="data-row"
  >
    <td
      *ngFor="let property of grabKeys(satellite)"
      [class.warning]="satellite.isSpaceDebris() && property === 'type'"
    >
      {{ satellite[property] }}
    </td>
  </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
